---
layout: page
permalink: /open-source/
title: Open Source Code
---

<section id="oss">
  <section id="intro">
    While maintianing plenty of projects for myself, I've never open sourced them.  That is about to change!  I plan on open-sourcing the majority of my projects' code and I'll add to this library as I go!
  </section>
  <section id="projects">
    <h2>Projects</h2>
    <div class="container">
      {% assign projects = site.projects | sort: 'title' %}
      {% for project in projects | sort: 'title' %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
          <div class="row">
        {% endif %}
          <div class="full column">
            <article>
              <header>
                <h3>{{ project.title }}</h3>
              </header> 
              <p class="excerpt">{{ project.content }}</p>
              <!-- TODO FIX THIS -->
              {% if project.view=='true'  %}
                <div class="centered">
                  <a href="{{ project.source_url }}" class="button regressive">View on {{ project.source }}</a>
                </div>
              {% endif %}
            </article>
          </div>
        {% if loopindex == 0 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </section>
  <section id="contributing">
    <h2>Contributing</h2>
    <p>
      As a bit of housekeeping, our legal department requires that you fill out our <a href="https://docs.google.com/forms/d/19LpBBjykHPox18vrZvBbZUcK6gQTj7qv1O5hCduAZFU/edit" target="_blank">CLA</a> prior to us accepting any pull requests.
    </p>
  </section>
</section>
